*{
    padding:0;
    margin:0;
}
.App{
    margin:0 auto;
    font-size: 12px;
    font-family: 'noto sans kr';
    box-sizing: border-box;
}
img{
    width:100%;
}
dl,ul,ol,li{
    list-style-type: none;
    
}
a{
    text-decoration: none;
    color:inherit;
}
.header{
    margin:0 auto;
    padding-top:15px;
    border-bottom:1px solid #dfdfdf;
    position: relative;
    z-index:999;
    box-sizing: border-box;
}
.hd{
    width:1250px;
    margin:0 auto;
    height:55px;
    box-sizing: border-box;
}
.logo{
    float: left;
    margin: 0 30px 3px 0;
}
div.search{
    width:400px;
    border:2px solid transparent;
    z-index: 3;
    height: 40px;
    border-radius: 40px;
    line-height: 35px;
    display: inline-block;
    box-sizing: border-box;
    background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #9463ee 0%,  #9da7f8 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
div.allSearch{
    float: left;
    width: 100px;
    padding: 0 10px 0 25px;
    margin: 0;
    height: 35px;
    line-height: 36px;
    font-size: 14px;
    box-sizing: border-box;
}
input[type=text]{
    float: left;
    width: 230px;
    height: 33px;
    padding-left: 0;
    background: #fff;
    border: 0;
    font-size: 14px;
    outline: none;
}
input[type=text]:focus::placeholder{
    color:#9463ee;
    font-weight: bold;
}
button.searchBtn{
    float: right;
    border: 0;
    cursor: pointer;
    background: none;
    line-height: initial;
    width: 30px;
    height: 30px;
    margin:3px;
}
/* 로그인 버튼 스타일 */
.login_container{
    display: inline-block;
    float:right;
}
.loginBox{
    display: flex;
    font-weight: 500;
    font-size: 14px;
    color:#919191;
}
.loginBox>li{
    margin-right:20px;
}
.icon{
    padding-top:30px;
}
.icon:hover{
    color:#9463ee;
}
.icon>a{
    font-size:15px;
    font-weight: bold;
}
.join{
    background: no-repeat center 0 url('./img/icon/header/member.png');
}
.login{
    background: no-repeat center 0 url('./img/icon/header/login.png');
}
.service{
    background: no-repeat center 0 url('./img/icon/header/company.png');
}
.join:hover{
    background: no-repeat center 0 url('./img/icon/header/member_ov.png');
}
.login:hover{
    background: no-repeat center 0 url('./img/icon/header/login_ov.png');
}
.service:hover{
    background: no-repeat center 0 url('./img/icon/header/company_ov.png');
}

/* nav 스타일 */
.gnb_wrap{
    width:1250px;
    margin:0 auto;
    display:flex;
    line-height: 65px;
    height:75px;
    justify-content: space-between;
}
.gnb{
    display:flex;
    font-size: 16px;
    font-weight: bold;
    padding: 0;
}
.gnb_text{
    font-family: 'noto sans kr', 'malgun gothic', 'dotum', sans-serif;
    padding: 0 5px;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    text-align: center;
    width: 100px;
    box-sizing: border-box;
    line-height: 65px;
}
.gnb_item>a:hover{
    color:#9463ee;
}
.hamburgerBtn{
    border:none;
    width:55px;
    height:55px;
    box-sizing: border-box;
    background: no-repeat center 0 url('./img/icon/header/gnb.png');
    background-size: 95%;
}
.hamburgerBtn:hover{
 cursor: pointer;
}
.gnb_item:nth-child(5) a:hover{
    text-indent:-9999px;
    color:transparent;
    background:url('./img/icon/header/gnbInfo.png') no-repeat 0 -3px;
    background-size: 55px;
}
.gnb_item:nth-child(6) a:hover{
    text-indent:9999px;
    width:100px;
    color:transparent;
    background:url('./img/icon/header/gnbTalk.png') no-repeat 0 -3px;
    background-size: 40px;
}

/* 서브gnb 스타일 */
.subGnb{
    display: flex;
}
.sub_item{
    font-family: 'noto sans kr', 'malgun gothic', 'dotum', sans-serif;
    font-size: 16px;
    padding:0 10px;
    font-weight: 500;
    position: relative;
    text-align: center;
    box-sizing: border-box;
}
.aca{
    padding-top:3px;
}
.sub_item>span{
    display: inline-block;
    text-indent: -9999px;
}
/* 하단 전체 페이지 스타일 */
.subGnb_container{
    position: absolute;
    width: 100%;
    top: 145px;
    left: 0;
    background: #fff;
    border-top: 1px solid #dfdfdf;
    z-index: 10;
    transition : .3s ease-in-out;
}
.subGnb_container_block{
    height:398px; 
}
.subGnb_container_none{
    height:0;
}
.subGnbBox{
    width: 1250px;
    display: flex;
    margin:0 auto ;
    transition: .3s ease-in-out;
}
.subGnbBox_block{
    height:398px;
    border-left:1px solid #efefef;
}
.subGnbBox_none{
    height:100%;
}
.subGnb_item{
    flex: 1;
    padding: 30px 29px;
    align-items: flex-start;
}
.subGnb_item_block{
    border-right: 1px solid #efefef;
}
.subGnb_item_none{
    opacity: 0;
}
.item_title{
    font-size: 14px;
    display: block;
    position: relative;
    margin-bottom: 10px;
    font-weight: bold;
    color: #4a4a4a;
}
/* section01  */
div.section01{
    width:100%;
    padding:55px 0;
    background-color: #eceafc;
}
div.contents{
    display:flex;
    width:1250px;
    margin:0 auto;

}
.content01{
    width:400px;
    overflow: hidden;
    margin-right:10px;
    position:relative;
}
.slides{
    width:600%;
    display: flex;
    align-items: center;
    position: relative;
    transform:translateX(-400px);
}
.slide>img{
    width:400px;
    height:370px;
}
.eventPage{
    position:absolute;
    bottom:10px;
    right:10px;
    color:#fff;
    font-size: 1.2em;

}

/* 콘텐츠 02 */
.transition{
    transition:.3s ease-in-out;
}
.content02{
    width: 550px;
    height:370px;
    background: #fff;
    margin-right: 10px;
    padding: 40px 30px 35px;
    float: left;
    position: relative;
    box-sizing: border-box;
}
.magazine_container{
    width:490px;
    box-sizing: border-box;
    overflow: hidden;
    position:relative;
}
.magazines{
    width:800%;
    display: flex;
    transform:translateX(-490px);
}
.magazine{
    width: 490px;
    margin-right: 10px;
    float: left;
    position: relative;
    box-sizing: border-box;
}
.info{
    display: flex;
	flex-wrap: wrap;
    padding: 20px 10px;
    box-sizing: border-box;
}
.info_items{
    flex: 1 1 40%;
    padding: 10px 20px;
    width: 230px;
    line-height: 20px;
}
.info_item{
    display: flex;
}
.info_text{
    width: 95px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    box-sizing: border-box;
}
.info_text>h3{
    margin-bottom: 5px;
    font-size: 16.38px;
    white-space: pre-wrap;
}
.info_text>p{
    white-space: pre-wrap;
    font-size: 14px;
}
.btnBox{
    position: absolute;
    top:0;
    right:19px;
}
.btn{
    cursor: pointer;
    width:19px;
    height:19px;
    padding:2px;
    border:1px solid #dfdfdf;
    background-color:transparent;
}
.add{
    position:absolute;
    width:430px;
    left:53px;
    bottom:15px;
}

/* top10인기순위 스타일 */
.top_container{
    width:260px;
    height:370px;
    box-sizing: border-box;
    padding:40px 30px 35px; 
    background-color: #fff;
}
.top10ItemBox{
    width:200px;
    height:250px;
    padding:25px 0;
}
.top10_title{
    font-size: 1.41em;
    margin-left:15px;
}
.top10_item{
    width:220px;
    height:25px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
}
.top10s{
    position: relative;
    overflow: hidden;
}
.top10{
    transform:translateX(-200px);
    display:flex;
}
.top10_num{
    width:20px;
    height:25px;
    font-size: 14.7px;
    color:rgb(186, 186, 186);
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    line-height: 25px;
}
.top10_text{
    font-size: 14.7px;
    line-height: 25px;
    box-sizing: border-box;
    margin-left:3px;
}
.top10_text:hover{
    text-decoration:underline;
    cursor: pointer;
}

/* section02 scroll  스타일*/

.section02{
    width:1250px;
    /* padding:0 24px; */
    margin:30px auto;
    position:relative;
}
.scroll_container{
    width:1230px;
    overflow: hidden;
}
.scrollBox{
    display:flex;
    width:900%;
    transform:translateX(-812px);
}
.scroll_item{
    width:386px;
    padding-left:20px;
}

.scrollBtn{
    border:none;
    background-color: transparent;
    width:15px;
    position: absolute;
    top:35px;
    cursor: pointer;
}
.left{
    left:0;
}
.right{
    right:0;
}

/* 키워드 스타일 */
.section03{
    width:1250px;
    /* height:1500px; */
    margin: 0 auto;
}

.key_container{
    display: flex;
    flex-wrap: wrap;
}

.keyImg{
    width:300px;
    height:120px;
    position:relative;
}
.keyImg>img{
    opacity: 0.2;
}
.key_title{
    font-size: 1.65em;
    font-weight: bold;
    color: #fff;
    line-height: 60px;
    position: absolute;
    bottom: -2px;
    padding:0 30px;
    width: 100%;
    z-index: 1000;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%,
     rgba(255, 255, 255, 0) 100%);
}
.key_text{
    margin: 0 30px;
    padding: 12px 0 20px;
    border-bottom:1px solid #e5e5e5;
}
.key_text>p{
    font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', sans-serif;
    font-size: 1.2em;
    line-height: 2;
    height: 28px;
    color: #6e6e6e;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.key_text>span{
    color:rgb(241, 89, 89);
    font-size:12px;
    line-height: 17px;
    box-sizing: border-box;
}
.date{
    position: absolute;
    right: 20px;
    top: 20px;
    display: block;
    width: 44px;
    line-height: 19px;
    text-align: center;
    font-size: 1em;
    color: #fff;
    background: #9c57f5;
    border-radius: 10px;
}