.App{
    width:1900px;
    padding:0;
    margin:0 auto;
    font-size: 12px;
    font-family: 'noto sans kr';
}
.header{
    width:1250px;
    margin:0 auto;
}
.logo{
    padding-right:1.5em;
    float: left;
}
div.search{
    width:400px;
    border:2px solid #000;
    z-index: 3;
    height: 40px;
    margin-top: 15px;
    border-radius: 40px;
    line-height: 35px;
    display: inline-block;
    box-sizing: border-box;
}
div.allSearch{
    float: left;
    width: 100px;
    padding: 0 10px 0 25px;
    margin: 0;
    height: 35px;
    line-height: 36px;
    font-size: 14px;
    box-sizing: border-box;
}
input[type=text]{
    float: left;
    width: 230px;
    height: 33px;
    padding-left: 0;
    background: #fff;
    border: 0;
    font-size: 14px;
    outline: none;
}
.login_container{
    display: inline-block;
    float:right;
}
.login{
    display: flex;
}
.login>li{
    margin-right:20px;
}